AddDefaultCharset uft-8
RewriteEngine On
RewriteRule ^admin/?$ modules/admin/index.php [L,QSA]
RewriteRule ^admin/auth/?$ modules/admin/auth.php [L,QSA]
RewriteRule ^admin/exit/?$ modules/admin/exit.php [L,QSA]
RewriteRule ^admin/services/?$ modules/admin/services/index.php [L,QSA]
RewriteRule ^admin/services/add/?$ modules/admin/services/add.php [L,QSA]
RewriteRule ^admin/services/delete/([0-9]*)/?$ modules/admin/services/delete.php?id=$1 [L,QSA]
RewriteRule ^admin/services/edit/([0-9]*)/?$ modules/admin/services/edit.php?id=$1 [L,QSA]
RewriteRule ^admin/workers/?$ modules/admin/workers/index.php [L,QSA]
RewriteRule ^admin/workers/add/?$ modules/admin/workers/add.php [L,QSA]
RewriteRule ^admin/workers/delete/([0-9]*)/?$ modules/admin/workers/delete.php?id=$1 [L,QSA]
RewriteRule ^admin/workers/edit/([0-9]*)/?$ modules/admin/workers/edit.php?id=$1 [L,QSA]
RewriteRule ^admin/orders/?$ modules/admin/orders/index.php [L,QSA]
RewriteRule ^admin/orders/add/?$ modules/admin/orders/add.php [L,QSA]
RewriteRule ^admin/orders/delete/([0-9]*)/?$ modules/admin/orders/delete.php?id=$1 [L,QSA]
RewriteRule ^admin/orders/edit/([0-9]*)/?$ modules/admin/orders/edit.php?id=$1 [L,QSA]
RewriteRule ^admin/orders/close/([0-9]*)/?$ modules/admin/orders/close.php?id=$1 [L,QSA]